header {
    display: flex;
    justify-content: center;
    background-color: #D1DDBD;
}

header .logo {
    width: 400px;
    position: relative;
}

header .logo img {
    width: 100px;
    position: absolute;
    left: 0;
}

header .logo h1 {
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 20px;
    text-align: center;
}