.login-form {
    width: 20%;
    margin: 20px auto 40px auto;
}

.login-form h2 {
    text-align: center;
}

.login-form .error-message {
    width: 100%;
    position: relative;
    background-color: #ff0000b3;
    padding: 10px 0;
}

.login-form .error-message .remove-icon {
    position: absolute;
    right: 5px;
    top: 2px;
    cursor: pointer;
}

.login-form .error-message h4 {
    margin: 0;
    text-align: center;
}

.login-form input {
    height: 20px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #173341;
    padding-left: 5px;
    width: 98%;
}

.login-form button {
    display: block;
    margin: 10px auto;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    border: 1px solid #173341;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #FAFAFA;
}