<div class="todo" *ngIf="!edit">
  <i class="fas fa-times delete-icon" (click)="deleteTodoConfirmShow()"></i>
  <div *ngIf="showDeleteConfirm" class="delete-confirm">
    <p>Do you really want to delete this one?</p>
    <div class="delete-confirm-buttons">
      <button (click)="deleteTodo(todo._id)">Yes</button>
      <button (click)="deleteTodoConfirmShow()">No</button>
    </div>
  </div>
  <i class="fas fa-edit edit-icon" (click)="editTodo()"></i>
  <h3 class="title">{{ todo.title }}</h3>
  <div class="tasks">
    <div class="task" *ngFor="let task of todo.tasks">
      <i *ngIf="task.done" (click)="taskDone(task._id)" class="far fa-check-circle"></i>
      <i *ngIf="!task.done" (click)="taskDone(task._id)" class="far fa-circle"></i>
      <p>{{ task.task }}</p>
    </div>
  </div>
</div>

<div class="todo" *ngIf="edit">
  <i class="fas fa-times delete-icon" (click)="editTodoCancel()"></i>
  <i class="fas fa-check edit-icon" (click)="editTodoDone()"></i>
  <input class="title title-input" type="text" [value]="todo.title" (change)="updateTodoTitle($event)">
  <div class="tasks">
      <div class="task" *ngFor="let task of todo.tasks">
        <i *ngIf="task.done" (click)="taskDone(task._id)" class="far fa-check-circle"></i>
        <i *ngIf="!task.done" (click)="taskDone(task._id)" class="far fa-circle"></i>
        <input class="task-input" type="text" [value]="task.task" (change)="updateTaskInput($event, task._id)">
      </div>
    </div>
</div>
